:root{
    --bigFont: Large, sans-serif;
    --smallFont: Small, sans-serif;
    --backgroundColor: hsl(258, 42%, 5%);
    --lighterColor: hsl(258, 33%, 14%);
    --highlightColor: hsl(258, 23%, 34%);
    --scaleRatio: 80vw;
}

@font-face {
    font-family: Large;
    src: url(fonts/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: Small;
    src: url(fonts/Poppins-Light.ttf);
}

@keyframes backgroundGrow{
    from{
        transform: scale(5);
        filter: blur(7px) brightness(15%);
    }
    to{
        transform: scale(1.05);
        filter: blur(3px) brightness(100%);
    }
}

body{
    margin: 0;
    padding-top: 0px;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: black;
}

.pageHeaderImage{
    position: fixed;
    z-index: -2;
    background-image: url(images/lotteryDay/IMG_5251.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 100vw;
    height: 100%;
    max-height: 70vw;
    min-height: 70vw;
    transform: scale(1.05);
    filter: blur(3px) brightness(100%);
    animation: backgroundGrow reverse;
    animation-timeline: view();
    animation-range: 100vh 230vh;
    transition: animation 0.5s ease;
}

@keyframes textSlideIn{
    from{margin-left: -120vw;}
    to{margin-left: 0vw;}
}

.pageHeader{
    z-index: -1;
    position: fixed;
    display: block;
    height: 50vw;
    width: 90vw;
    color: white;
    margin-top: 3vw;
    margin-left: 3vw;
    transition: animation 0.5s ease;
    #pageHeaderMaintext{
        margin-left: -120vw;
        animation: textSlideIn 1s ease-out forwards;
    }

    #pageHeaderSubtext{
        margin-left: -120vw;
        animation: textSlideIn 1s ease-out 0.5s forwards;
    }

    h1{
        height: 16vw;
        font-size: 18vw;
        display: inline-block;
        line-height: 16vw;
        text-shadow: rgb(0, 0, 0) 1px 1px 10px;
        font-family: var(--bigFont);
    }
    h2{
        height: 6vw;
        font-size: 6vw;
        display: inline-block;
        line-height: 6vw;
        text-shadow: black 1px 1px 10px;
        font-family: var(--smallFont);
    }
}

.pageHeaderSpacer{
    position: static;
    width: 100vw;
    height: 60vw;
}

.pageHeaderText{
    margin-top: 0px;
    margin-bottom: 0px;
}

.seperator{
    width: 100vw;
    height: 20vw;
    position: static;
    margin-top: -20vw;
    z-index: 10;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--backgroundColor))
}


.portfolio{
    width: 100%;
    margin-top: 0;
    padding-top: 10vw;
    position: static;
    padding-bottom: 30vw;
    z-index: 10;
    background-color: var(--backgroundColor);
}

.description{
    width: 80vw;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vw;
    font-size: 3vw;
    font-family: var(--smallFont);
}

@keyframes imageTransitionIn{
    from{
        scale: 0.6;
        filter: brightness(30%);
    }
    to{
        scale: 1;
        filter: brightness(100%);
    }
}

@keyframes imageTransitionOut{
    from{
        scale: 1;
        filter: brightness(100%);
    }
    to{
        scale: 0.6;
        filter: brightness(30%);
    }
}

.displayImage{
    animation: imageTransitionIn, imageTransitionOut;
    animation-direction: forwards, reverse;
    animation-timeline: view();
    animation-range: -5% 30%, 70% 105%;
    animation-timing-function: ease-in-out;
    transition: transform 2s ease;
    margin-bottom: 5vw;
    height: 45vw;
    width: 86vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: 5px 5px 5px black;
    border-radius: 20px;
    .imageContainer{
        display: flex;
        .captionedImage{
            height: 45vw;
            width: 43vw;
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-radius: 20px;
                box-shadow: 1px 1px 5px black;
            }
        }
        
    }
    .textContainer{
        max-height: 45vw;
        max-width: 43vw;
        width: 43vw;
        display: grid;
        align-items: center;
        justify-items: center;
        text-align: center;
        color: white;
        text-shadow: 1px 1px 5px black;
        h1{
            font-size: 6vw;
            margin-bottom: 0px;
            padding-left: 2vw;
            padding-right: 2vw;
            font-family: var(--bigFont);
        }
        h2{
            font-size: 3vw;
            margin-top: 0px;
            font-style: italic;
            padding-left: 2vw;
            padding-right: 2vw;
            font-family: var(--smallFont);
        }
    }

    .triggerContainer{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        background-color: var(--lighterColor);
        border-radius: 20px;
    }

    .triggerContainer:hover{
        scale: 1.1;
        cursor: pointer;
        background-color: var(--highlightColor);
        .imageContainer{
            scale: 0.97;
        }
    }


}




@media (min-width: 768px) {
    .left{
        margin-right: 20vw;
    }
    .right{
        margin-left: 20vw;
    }
    .displayImage{
        height: 30vw;
        width: 70vw;
        display: flex;
        .imageContainer{
            .captionedImage{
                display: inline-block;
                width: 35vw;
                height: 30vw;
            } 
        }
        .textContainer{
            max-width: 35vw;
            height: 30vw;
            width: 35vw;
            display: grid;
            align-items: center;
            justify-items: center;
            font-family: sans-serif;
            text-align: center;
            color: white;
            h1{
                font-size: 4vw;
                margin-bottom: 0px;
                padding-left: 2vw;
                padding-right: 2vw;
            }
            h2{
                font-size: 2vw;
                margin-top: 0px;
                font-style: italic;
                padding-left: 2vw;
                padding-right: 2vw;
            }
        }
    }
}


#lightbox{
    position: fixed;
    display: none;
    z-index: 100;
    padding-top: 20vh;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-y: auto;
    overflow-x: hidden;
}

#lightbox.active{
    display: block;
}

#lightbox img{
    display: block;
    width: 70vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 10px black;
}

#lightbox video{
    display: block;
    width: 70vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 10px black;
}

#lightbox p{
    display: block;
    width: 70vw;
    height: auto;
    margin-top: 1vw;
    margin-bottom: 5vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: var(--smallFont);
    color: white;
    font-size: 3vw;
    text-shadow: 1px 1px 3px black;
}

#lightbox .lightboxSpacer{
    display: block;
    height: 70vh;
    width: 0px;
}

.footer{
    display: flex;
    width: 80vw;
    height: 20vw;
    margin-top: -28vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vw;
    border-top: solid;
    border-width: 1vw;
    border-color: var(--lighterColor);
    .leftText{
        margin-left: 5%;
        width: 45%;
        p{
            text-align: left;
        }
    }

    .rightText{
        width: 45%;
        p{
            text-align: right;
        }
    }
    p{
        color: white;
        font-family: var(--smallFont);
        font-size: 2.5vw;
    }
}